

@media (max-width: 430px) {
      
    .submit {
      flex-direction: column; 
      align-items: center;     
    }
  
    .input {
      width: 80%; 
    }
  
    .ver {
      width: 50%;
      margin-top: 10px;
      
    }
  }